.auctions-title {
  margin-top: 20px;
  margin-bottom: 50px;
}

.auction-list {
  flex-direction: column;
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  margin: 50px;
  justify-items: center;
}
