.card-title {
  font-size: 24px;
}

.item-price {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.auction-card {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  border: 1px solid black;
  text-align: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 15px;
  width: 100%;
}

.auction-card:hover {
  scale: 1.05;
  transition: 0.4s ease;
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.bid-btn {
  margin-top: 10px;
  height: 50px;
  background-color: #12da5e;
  border: none;
  font-size: 16px;
  border-radius: 15px;
}

.bid-btn:hover {
  background-color: #0e8d3f;
  transition: 0.3s ease;
}

.show-bids-btn {
  color: orange;
}
