.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.logo {
    text-decoration: none;
    color: #333;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.nav {
    display: flex;
}

.navList {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navList a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.navLink {
    color: #333;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: all 0.9s ease-in-out;
    display: inline-block;
}

.navLink:hover {
    background-color: #e1e1e1;
}

.active {
    color: rgb(1, 1, 85);
    background-color: #e1e1e1;
    border: rgb(1, 1, 85) 1px solid;
}

.addAuction {
    background-color: rgb(1, 1, 85);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: bolder;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
    display: inline-block;
}

.addAuction:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Mobilanpassning */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .navList {
        flex-direction: column;
        gap: 0.5rem;
    }
}
